<footer>

    <nav>
        <ul>
            <li><a href="https://twitter.com/frontfest">Twitter</a></li>
            <li><a href="https://youtube.com/frontfest">YouTube</a></li>
            <li><a href="https://github.com/frontfest/">GitHub</a></li>
            <li><a href="https://t.me/frontfest">Telegram</a></li>
            <li><a href="mailto:frontfest@gmail.com">Email</a></li>
        </ul>
    </nav>

    <div class="wrapper">

        <h2 class="footer-heading">{{ site.title | escape }}</h2>

        <!-- <div class="footer-col-wrapper">
        <div class="footer-col one-half">
            <ul class="contact-list">
            <li class="p-name">
                {%- if site.author -%}
                {{ site.author | escape }}
                {%- endif -%}
                </li>
                {%- if site.email -%}
                <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
                {%- endif -%}
            </ul>
        </div>
    
        <div class="footer-col one-half">
            <p>{{- site.description | escape -}}</p>
        </div>
    
        <div class="social-links">
            {%- include social.html -%}
        </div>
        </div> -->
    
    </div>
    
</footer>